html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	background-color:rgba(0, 0, 0, 0);
	font-family: 'Gafata', sans-serif;
}

.animated {
	-webkit-animation-duration: 4s; 
	animation-duration: 4s; 
	-webkit-animation-fill-mode:both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out; 
} 
.animated2 {
	-webkit-animation-duration: 6s; 
	animation-duration: 6s; 
	-webkit-animation-fill-mode:both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out; 
} 
@-webkit-keyframes bounceInDown { 
	0%{
		opacity: 0;
		-webkit-transform: translateY(100px);
	}
	50%{
		opacity:0.3;
		-webkit-transform: translateY(0px);
	}
	100%{
		opacity: 1;
	} 
} 

@keyframes bounceInDown {
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	50%{
		opacity:0.3;
		transform: translateY(0px);
	}
	100%{
		opacity: 1;
	} 	
}  

@-webkit-keyframes footer{ 
	0%{
		opacity: 0;
	
	}
	50%{
		opacity:0;
	
	}
	100%{
		opacity: 1;
	} 
} 

@keyframes footer{
	0%{
		opacity: 0;
		
	}
	50%{
		opacity:0;
	
	}
	100%{
		opacity: 1;
	} 	
} 

.home{
	-webkit-animation-name: bounceInDown; 
	animation-name: bounceInDown; 
	height:75%;
	background-image: url("../img/logo/logoaiutahome.jpg");
	background-repeat:no-repeat;
	background-position:50% 35%;
	background-size:auto;
	background-attachment:fixed;
	position:relative;
}

.homelinet{
	position:fixed;
	background:rgba(0,0,0,1) no-repeat;
	width:100%;
	height:9px;
}

.homelineb{
	position:fixed;
	background:rgba(0,0,0,1) no-repeat;
	width:100%;
	height:9px;
	bottom:0px;
}
.fb-like{
	-webkit-animation-name:footer; 
	animation-name:footer;
	display:inline;
	float:right;
	margin-right:7%;
	margin-top:4%;
}
.bg{
	height:730px;
	background-image: linear-gradient(to top right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)),url("../img/bg.jpg");
	background-repeat:no-repeat, no-repeat;
	background-position:50% 50%, 50% 50%;
	background-size:cover, cover;
	background-attachment:fixed,fixed;
}
.title{
	font-family: 'Cinzel', sans-serif;
	font-size:650%;
	font-weight:bold;
	color: rgb(255,255,255);
	padding: 40px;
	position:relative;
	top:100px;
	background-color:rgba(0,0,0,0.75)
}

.about{
	height:730px;
	background:rgb(242,230,196) no-repeat center center;
	text-align:center;
	overflow:hidden
}

.title2{
	font-family: 'Cinzel', sans-serif;
	font-size:400%;
	font-weight:bold;
	color: rgb(255,255,255);
	padding: 40px;
	position:relative;
	top:0px;
	background-color:rgba(0,0,0,0.75)
}

#address1{
	-webkit-animation-name:footer; 
	animation-name:footer;
	font-family: 'Anaheim', sans-serif;
	font-size:100%;
	font-weight:bold;
	position:absolute;
	text-align:left;
	margin-left:5%;
	margin-top:2%;
	width:27%;
}

#apoio{
	-webkit-animation-name: footer; 
	animation-name: footer;
	margin-left:38%;
	margin-top:1%;
  position:absolute;
}