<!DOCTYPE html>
{% autoescape true %}
<html>
	<link rel="icon" href="img/logo/favicon.png" />
	<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Anaheim|Hind|Cinzel|Gafata' rel='stylesheet' type='text/css'>
	<title> AIUTA </title>
	</head>
	
	
  <body>
  	<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id))
  			return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
  			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
  	<div class="homelinet"></div>	
  	<div class="animated home"></div>
  	<div class="animated2 fb-like" data-href="https://www.facebook.com/aiutabr" data-width="30px" data-layout="button" data-action="like" data-show-faces="false" data-share="false" data-colorscheme="light"></div>
  	<div class="homelineb"></div>
	</body>
</html>
{% endautoescape %}