<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Anaheim|Hind|Cinzel|Gafata' rel='stylesheet' type='text/css'>
	<title> AIUTA </title>
	</head>
	
	
  <body>
  	<section class="bg">
		 	
			<div class="title">A i u t A</div>
			 
		</section>
		<section class="about">
			<div class="title2">Aiuta</div>
			<div class="textabout"> 
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				Aiuta é um laboratório de tecnologia.
				<br>Aiuta é um laboratório de tecnologia.</br>
				
				
			</div>
		</section>
  </body>
</html>
{% endautoescape %}