<!DOCTYPE html>
{% autoescape true %}
<html>
	<link rel="icon" href="img/logo/favicon.png" />
	<head>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Anaheim|Hind|Cinzel|Gafata' rel='stylesheet' type='text/css'>
	<title> AIUTA </title>
	</head>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-54801823-1', 'auto');
  	ga('send', 'pageview');

	</script>
	
  <body>
  	<div id="fb-root"></div>
		<script>
			(function(d, s, id) {
  			var js, fjs = d.getElementsByTagName(s)[0];
  			if (d.getElementById(id))
  			return;
  			js = d.createElement(s); js.id = id;
  			js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
  			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
  	<div class="homelinet"></div>	
  	<div class="animated home"></div>
  	<div class="animated2" id="address1">
  		Rua Frederico Silva, 86
  		<br>Rio de Janeiro - RJ, 20230-210
  		<br>contato@aiuta.com.br
  		<br>Empreendimento apoiado pelo Rio Criativo
  	</div>
  	<div class="animated2" id="apoio"><img src="../img/logo/logo-sec.jpg" alt="Secretaria de Cultura" hspace="10"><img src="../img/logo/logo-riocriativo.png" alt="Rio Criativo" hspace="10"></div>
  	<div class="animated2 fb-like" data-href="https://www.facebook.com/aiutabr" data-width="30px" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="light"></div>
  	
  	<div class="homelineb"></div>
	</body>
</html>
{% endautoescape %}